* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  background: #fef4f3; }

.content {
  display: grid;
  grid-template-areas: "logo" "photo" "hero";
  grid-template-rows: 88px auto 1fr;
  height: 100%; }
  .content header {
    grid-area: logo;
    display: flex;
    align-items: center; }
    .content header .logo {
      margin: 0 1.7rem;
      width: 600px;
      width: 6rem; }
  .content .hero-mobile {
    display: block;
    grid-area: photo;
    width: 100%; }
  .content .hero-desktop {
    display: none; }
  .content .hero {
    text-align: center;
    grid-area: hero;
    display: flex;
    justify-content: center; }
    .content .hero .container {
      margin: 0 1.7rem; }
      .content .hero .container .email-form {
        position: relative;
        margin-bottom: 1.5rem; }
        .content .hero .container .email-form .error-icon {
          display: none;
          position: absolute;
          top: 15px;
          right: 120px; }
        .content .hero .container .email-form .error-message {
          display: none;
          color: #f96262;
          margin-top: 15px;
          text-align: left;
          margin-left: 25px; }
        .content .hero .container .email-form.error .email-input {
          border: 2px solid #f96262; }
        .content .hero .container .email-form.error .error-icon {
          display: block; }
        .content .hero .container .email-form.error .error-message {
          display: block; }
        .content .hero .container .email-form .email-input {
          border-radius: 50px;
          border: 1px solid #ce9797;
          width: 100%;
          height: 55px;
          padding: 0 24px;
          background: transparent;
          color: #ce9797; }
          .content .hero .container .email-form .email-input:focus {
            outline: none;
            box-shadow: 0px 0px 10px rgba(206, 151, 151, 0.5);
            border-width: 1.5px; }
          .content .hero .container .email-form .email-input::placeholder {
            color: #ce9797; }
        .content .hero .container .email-form .email-button {
          position: absolute;
          font-size: 100%;
          font-family: inherit;
          border: 0;
          background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
          padding: 15px;
          width: 100px;
          border-radius: 50px;
          top: 0;
          right: 0;
          height: 55px;
          box-shadow: 2px 5px 15px #ce9797;
          outline: none; }
          .content .hero .container .email-form .email-button:hover {
            opacity: 0.8;
            transition: opacity 0.2s ease;
            cursor: pointer; }
    .content .hero .promo {
      padding-top: 3.7rem;
      margin-bottom: 1.4rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      letter-spacing: 11px;
      color: #413a3a;
      line-height: 1.1; }
      .content .hero .promo span {
        color: #ce9797;
        font-weight: 200; }
    .content .hero .info {
      margin-bottom: 2.5rem;
      line-height: 1.6;
      font-size: .9rem;
      color: #ce9797;
      font-weight: 300; }

@media (min-width: 698px) {
  body, html {
    background: white; }
  .content {
    grid-template-areas: "logo logo photo" "hero hero photo" "hero hero photo";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 90px 1fr 1fr; }
    .content header .logo {
      margin: 0 5rem; }
    .content .hero {
      text-align: left;
      background: linear-gradient(135deg, white, #fff5f5);
      background-image: url("/images/bg-pattern-desktop.svg");
      background-size: cover; }
      .content .hero .container {
        margin: 0 5rem; }
      .content .hero .promo {
        font-size: 3.5rem;
        letter-spacing: 20px;
        line-height: 1.2;
        margin-bottom: 2rem; }
      .content .hero .info {
        font-size: 1.1rem; }
    .content .hero-mobile {
      grid-area: none;
      display: none; }
    .content .hero-desktop {
      display: block;
      grid-area: photo;
      background-image: url("../images/hero-desktop.jpg"); } }
