// Primary
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

// Neutral
$dark-grayish-red: hsl(0, 6%, 24%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  background: #fef4f3;
}

.content {
  display: grid;
  grid-template-areas: "logo"
                       "photo"
                       "hero";
  grid-template-rows: 88px auto 1fr;
  height: 100%;

  header {
    grid-area: logo;
    display: flex;
    align-items: center;
    // width: 600px;

    .logo {
      margin: 0 1.7rem;
      width: 600px;
      width: 6rem;
    }
  }
  
  .hero-mobile {
    display: block;
    grid-area: photo;
    width: 100%;
    // background-image: url('../images/hero-mobile.jpg');
    // background-size: cover;
  }

  .hero-desktop {
    display: none;
  }

  .hero {
    text-align: center;
    grid-area: hero;
    display: flex;
    justify-content: center;

    .container {
      margin: 0 1.7rem;

      .email-form {       
        position: relative;
        margin-bottom: 1.5rem;

        .error-icon {
          display: none;
          position: absolute;
          top: 15px;
          right: 120px;
        }

        .error-message {
          display: none;
          color: hsl(0, 93%, 68%);
          margin-top: 15px;
          text-align: left;
          margin-left: 25px;
        }

        // Show Errors
        &.error {
          .email-input {
            border: 2px solid hsl(0, 93%, 68%);
          }

          .error-icon {
            display: block;
          }

          .error-message {
            display: block;
          }
        }

        .email-input {
          border-radius: 50px;
          border: 1px solid hsl(0, 36%, 70%);
          width: 100%;
          height: 55px;
          padding: 0 24px;
          background: transparent;
          color: hsl(0, 36%, 70%);

          &:focus {
            outline: none;
            box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
            border-width: 1.5px;
          }

          &::placeholder {
            color: hsl(0, 36%, 70%);
          }
        }

        .email-button {
          position: absolute;
          font-size: 100%;
          font-family: inherit;
          border: 0;
          background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
          padding: 15px;
          width: 100px;
          border-radius: 50px;
          top: 0;
          right: 0;
          height: 55px;
          box-shadow: 2px 5px 15px hsl(0, 36%, 70%);
          outline: none;

          &:hover {
            opacity: 0.8;
            transition: opacity 0.2s ease;
            cursor: pointer;
          }
        }
      }
    }

    .promo {
      padding-top: 3.7rem;
      margin-bottom: 1.4rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      letter-spacing: 11px;
      color: $dark-grayish-red;
      line-height: 1.1;

      span {
        color: $desaturated-red;
        font-weight: 200;
      }
    }

    .info {
      margin-bottom: 2.5rem;
      line-height: 1.6;
      font-size: .9rem;
      color: $desaturated-red;
      font-weight: 300;
    }
  }
}

@media (min-width: 698px) {
  body, html {
    background: white;
  }

  .content {
    grid-template-areas: "logo logo photo"
                         "hero hero photo"
                         "hero hero photo";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 90px 1fr 1fr;
  
    header {
      .logo {
        margin: 0 5rem;          
      }
    }

    .hero {
      text-align: left;
      background: linear-gradient(135deg, hsl(0, 0%, 100%),  hsl(0, 100%, 98%));
      background-image: url('/images/bg-pattern-desktop.svg');
      background-size: cover;

      .container {
        margin: 0 5rem;
      }

      .promo {
        font-size: 3.5rem;
        letter-spacing: 20px;
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      .info {
        font-size: 1.1rem;
      }
    }

    .hero-mobile {
      grid-area: none;
      display: none;
    }

    .hero-desktop {
      display: block;
      grid-area: photo;
      background-image: url('../images/hero-desktop.jpg');
    }
  }
}